/* Attributable stuff */
.py-attribute-table {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color-api-background);
    border-radius: 0 0 3px 3px;
    border-left: #0e84b5 solid 3px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

html[data-theme="dark"] {
    --op-border-color: #454545;
}

html[data-theme="light"] {
    --op-border-color: #ababab;
}

.py-attribute-table-entry {
    list-style: None;
}

.py-attribute-table-column {
    flex: .5;
}

.py-attribute-table-column > span {
    font-weight: bold;
    margin-left: 1rem;
}

.py-attribute-table-badge {
    font-weight: bold;
    margin-right: .5rem;
}

.sig.sig-object {
    padding: 2px 7px;
    border-radius: 5px;
}

li.toc-h3.nav-item.toc-entry {
    display: block;
}

.container.operations {
    padding: 3px 7px;
    border-radius: 5px;
    border: 1px solid var(--op-border-color);
}